<p>vm works!</p>
<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #VmForm="ngForm" (ngSubmit)="onSubmit(VmForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="VmService.selectedVm._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="VmService.selectedVm.name" placeholder="Enter the virtual machine name" required>
                    <label>Machine :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="adresse" #name="ngModel" [(ngModel)]="VmService.selectedVm.adresse" placeholder="Eg : Snr. Developer">
                    <label>Adresse :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="office" #name="ngModel" [(ngModel)]="VmService.selectedVm.office" placeholder="Enter office location">
                    <label>état :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(VmForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!VmForm.valid">Ajouter</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Adresse</th>
                        <th>état</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let vm of VmService.Vms">
                      <td>{{vm.name}}</td>
                      <td>{{vm.adresse}}</td>
                      <td>{{vm.état}}</td>
                      <td><button [style.color]="couleur ? 'blue' : 'red' " (click)="onClick($event)"></button></td>
                      <td>
                          <a class="action-btn" (click)="onEdit(vm)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(vm._id,VmForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>